 @charset "UTF-8";
header {
    background-color: #9edfbc;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 220px;
    font-size: 2em;
}
.fa .fas {
    font-weight: 900;
}
.fa, .fas {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    list-style: 1;
}
.nav-link {
    margin-right: 60px;
    margin-bottom: 20px;
}
.navbar-nav {
 display: flex;
 justify-content: flex-end;
 
}
.navbar-brand {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 2em;
    line-height: inherit;
}
.navbar a {
    background: linear-gradient(to right, #de8621, #8f5bfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 30px; 
}

.navbar i {
    background: linear-gradient(to right, #de8621, #8f5bfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 10px;
}

body {
    background-color:whitesmoke;
}
main {
    margin-top: 50px;
   
}
a {
    color: #fdcb46;
    text-decoration: none;
    justify-content: center;
}
.anim:hover {
    animation-duration: 150ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: wiggle;
}
div {
    display: block;
}
footer {
    display: flex;
   flex-direction: row;
    background-color: #9edfbc;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 80px;
}
footer h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: 500;
    background: linear-gradient(to right, #de8621, #8f5bfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#footer {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
    width: 100%;
}
.contact {
    align-self: flex-end;
}
.justify-content-around {
    justify-content: space-around!important;
}
